@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  font-size: 5.8rem; 
  text-align: center;
  background-color: aqua;
  border: 2px solid;
  color: black;
}


h3{
  font-size: 100px;
  background-color: rgb(230, 155, 57);
  text-align: center;
}